<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harukun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- jquery -->
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="../script.js"></script> -->
    <!-- end -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['AIzaSyARKf8NDwzTZiU0PStNODA4DqzIeWv2_54'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> -->
  </head>

  <body>
     <%= render "shared/sidebar" %>

    <div id="fh5co-main">
      <%= render "shared/screen" %>
      <%= render "shared/footer" %>
      <%= yield %>

    </div>
  </body>
</html>
